<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Product</title>
    <link rel="stylesheet" href="/css/add_product.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    {{> common/header}}
    <div class="form-container">
        <h1>Create New Product</h1>
        <form action="/add-product" method="POST" enctype="multipart/form-data">
            {{#error}}
            <div class="error-message">
                {{message}}
            </div>
            {{/error}}
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" id="name" name="name" placeholder="Enter product name" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" placeholder="Enter product description" required>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" min="0.01" step="0.01" placeholder="0.00" required>
            </div>

            <div class="form-group">
                <label for="stock">Stock Quantity</label>
                <input type="number" id="stock" name="stock" min="1" placeholder="Enter stock quantity" required>
            </div>

            <div class="form-group">
                <label for="mainImage">Product Image</label>
                <input type="file" id="mainImage" name="mainImage" accept=".jpg, .jpeg" required>
            </div>
            
            <button type="submit">Create Product</button>
        </form>
    </div>
    {{> common/footer}}
</body>
</html>