<!DOCTYPE html>
<html>
<head>
    <title>Your order has been confirmed</title>
    <link rel="stylesheet" href="/css/confirm-order.css">
</head>
<body>
    {{> common/header}}
    <div class="confirmation-container">
        <p>Your order has been confirmed, and will be sent to {{address}}</p>
        <a href="/products" class="back-button">Back to Home</a>
    </div>
    {{> common/footer}}
</body>
</html>