<!DOCTYPE html>
<html lang="en">
<body>
    <p>Gente que esta añadida: </p>
    <ul>
        {{#users}}
            <li>{{firstName}} {{lastName}}</li>
        {{/users}}
    </ul>

</body>
</html>