<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

<h1>Lista de Productos</h1>

<!-- Mostrar productos -->
<ul>
    {{#products}}
        <li>
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>Stock: {{stock}}</p>
            <img src="{{mainImage}}" alt="{{name}}" width="200" />
            <br>
            <!-- Enlace para ver reseñas -->
            <a href="/product-details?id={{id}}">
            <button>Ver Reseñas</button>
            </a>
            <br>

            <!-- Formulario para añadir al pedido -->
            <form action="/add-to-order" method="post" style="display:inline;">
                <input type="hidden" name="productId" value="{{id}}">
                <button type="submit">Añadir al Pedido</button>
            </form>
            <br>

            <!-- Formulario para eliminar producto -->
            <form action="/delete-product" method="post" style="display:inline;">
                <input type="hidden" name="productId" value="{{id}}">
                <button type="submit">Eliminar Producto</button>
            </form>
        </li>
    {{/products}}
</ul>

<!-- Botón para crear un nuevo producto -->
<a href="/create-product">
    <button type="button">Crear Nuevo Producto</button>
</a>

<!-- Botón para regresar a la página principal -->
<a href="/" style="text-decoration: none;">
    <button type="button">Volver a la Página de Inicio</button>
</a>

<!-- Botón para ver el pedido -->
<a href="/view-order" style="text-decoration: none;">
    <button type="button" style="position: absolute; top: 20px; right: 20px;">Ver Pedido</button>
</a>

</body>
</html>

